<%- include ('../partials/header') %>
<%- include ('../partials/menu2') %>
<body style="background-image: url('https://i.imgur.com/O4QIwDD.jpg'); background-size: cover; background-repeat: no-repeat;
background-attachment: fixed;">
<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <!-- <h2>Laugh!</h2> -->
    <table class="table table-striped table-dark" style="width: 100%; margin-top: 3%;">
      <tr>
        <th>Category</th>
        <th>Joke</th> 
        <th></th>
      </tr>
      <tbody>
        <%
        var joke_entry = "";
        var jLength = 0;
        var post_joke = "";
        if(results){


          if(type == 'dadjokes'){
            jLength = results.data.results.length;
            console.log("Length of array: " + jLength);

            for (let i = 0; i < jLength; i++) {
              joke_entry +=`
              <form action="/displayjokes/save" method="POST">
              <tr>
                <td>Dad Jokes</td>
                <td>${results.data.results[i].joke}</td>
                <input type="hidden" name="post_joke" value="${results.data.results[i].joke}"/>
                <input type="hidden" name="type" value="${type}"/>
                <td><button type="submit" style="background-color:rgb(184, 74, 184); border-color: rgb(184, 74, 184); color: black; font-weight: bold;"class="btn btn-primary" target="_blank">Save</button></td>
              </tr>
            </form>
              `
            }
          }


          else if(type == 'yoMama'){
            jLength =  results.data.length;
            console.log("Length of array: " + jLength);
            console.log(results.data[0].joke);

            for (let i = 0; i < jLength; i++) {
              console.log("TYPEEEE:" + type)
              joke_entry +=`
              <form action="/displayjokes/save" method="POST">
              <tr>
                <td>Yo Mama</td>
                <td>${results.data[i].joke}</td>
                <input type="hidden" name="post_joke" value="${results.data[i].joke}"/>
                <input type="hidden" name="type" value="${type}"/>
                <td><button type="submit" style="background-color:rgb(184, 74, 184); border-color: rgb(184, 74, 184); color: black; font-weight: bold;"class="btn btn-primary" target="_blank">Save</button></td>
              </tr>
            </form>
              `
            }
          }


          else if(type == 'french'){
            jLength =  results.length;
            console.log("Length of array: " + results.length);
            console.log(results[0].data.joke);

            for (let i = 0; i < jLength; i++) {
              var frenchqa = ""
              frenchqa = results[i].data.joke.question + " " + results[i].data.joke.answer
              console.log(frenchqa);
              joke_entry +=`
              <form action="/displayjokes/save" method="POST">
              <tr>
                <td>Français</td>
                <td>${results[i].data.joke.question}<br>${results[i].data.joke.answer}</td>
                <input type="hidden" name="post_joke" value="${frenchqa}"/>
                <input type="hidden" name="type" value="${type}"/>
                <td><button type="submit" style="background-color:rgb(184, 74, 184); border-color: rgb(184, 74, 184); color: black; font-weight: bold;"class="btn btn-primary" target="_blank">Save</button></td>
              </tr>
            </form>
              `
            }
          }


          else if(type == 'geek'){
            jLength =  results.length;
            console.log("Length of array: " + jLength);
            console.log(results[0].data);

            for (let i = 0; i < jLength; i++) {
              joke_entry +=`
              <form action="/displayjokes/save" method="POST">
              <tr>
                <td>Geek</td>
                <td>${results[i].data.joke}</td>
                <input type="hidden" name="post_joke" value="${results[i].data.joke}"/>
                <input type="hidden" name="type" value="${type}"/>
                <td><button type="submit" style="background-color:rgb(184, 74, 184); border-color: rgb(184, 74, 184); color: black; font-weight: bold;"class="btn btn-primary" target="_blank">Save</button></td>
              </tr>
            </form>
              `
            }
          }


          else if(type == 'bread'){
            jLength =  results.length;
            console.log("Length of array: " + jLength);
            console.log(results[0].data);

            for (let i = 0; i < jLength; i++) {
              joke_entry +=`
              <form action="/displayjokes/save" method="POST">
              <tr>
                <td>Bread</td>
                <td>${results[i].data}</td>
                <input type="hidden" name="post_joke" value="${results[i].data}"/>
                <input type="hidden" name="type" value="${type}"/>
                <td><button type="submit" style="background-color:rgb(184, 74, 184); border-color: rgb(184, 74, 184); color: black; font-weight: bold;"class="btn btn-primary" target="_blank">Save</button></td>
              </tr>
            </form>
              `
            }
          }



          else{
            joke_entry +=`
              <tr>
                <td>Error Jokes</td>
                <td>How did you even get here? ... ... ... LAUGH!</td>
                <td><button type="submit" style="background-color:rgb(184, 74, 184); border-color: rgb(184, 74, 184); color: black; font-weight: bold;"class="btn btn-primary" target="_blank">Save</button></td>
              </tr>
              `
          }
        }
        
       
        %>
        <%- joke_entry %>
      </tbody>
    </table>
  </div>
    <div style="margin-left: 45%; margin-bottom: 3%;">
    <a href="/jokes" style="background-color:rgb(245, 238, 252); border-color: rgb(255, 255, 255); color: black; font-size: 20px"class="btn btn-primary" >Back to Generate</a>
  </div>

</main>
</body>

<%- include ('../partials/footer') %>