<%- include ('../partials/header') %>
<%- include ('../partials/menu2') %>
<body style="background-image: url('https://i.imgur.com/O4QIwDD.jpg'); background-size: cover; background-repeat: no-repeat;
background-attachment: fixed;">
<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <!-- <h2>Laugh!</h2> -->
    <table class="table table-striped table-dark" style="width: 100%; margin-top: 3%;">
      <tr>
        <th>Category</th>
        <th>Joke</th> 
        <th></th>
      </tr>
      <tbody>
        <%
        var joke_entry = "";
        if(results){


          if(type == 'dadjokes'){
            console.log("Length of array: " + results.data.results.length);
            for (let i = 0; i < results.data.results.length; i++) {
              console.log(results.data);
            
              joke_entry +=`
              <tr>
                <td>Dad Jokes</td>
                <td>${results.data.results[i].joke}</td>
                <td><button type="submit" style="background-color:rgb(184, 74, 184); border-color: rgb(184, 74, 184); color: black; font-weight: bold;"class="btn btn-primary" target="_blank">Save</button></td>
              </tr>
              `
            }
          }


          else if(type == 'yoMama'){
            console.log("Length of array: " + results.data.length);
            console.log(results.data[0].joke);

            for (let i = 0; i < results.data.length; i++) {
              joke_entry +=`
              <tr>
                <td>Yo Mama</td>
                <td>${results.data[i].joke}</td>
                <td><button type="submit" style="background-color:rgb(184, 74, 184); border-color: rgb(184, 74, 184); color: black; font-weight: bold;"class="btn btn-primary" target="_blank">Save</button></td>
              </tr>
              `
            }
          }


          else if(type == 'french'){
            console.log("Length of array: " + results.length);
            console.log(results[0].data.joke);

            for (let i = 0; i < results.length; i++) {
              joke_entry +=`
              <tr>
                <td>Français</td>
                <td>${results[i].data.joke.question}<br>${results[i].data.joke.answer}</td>
                <td><button type="submit" style="background-color:rgb(184, 74, 184); border-color: rgb(184, 74, 184); color: black; font-weight: bold;"class="btn btn-primary" target="_blank">Save</button></td>
              </tr>
              `
            }
          }


          else if(type == 'geek'){
            console.log("Length of array: " + results.length);
            console.log(results[0].data);

            for (let i = 0; i < results.length; i++) {
              joke_entry +=`
              <tr>
                <td>Geek</td>
                <td>${results[i].data.joke}</td>
                <td><button type="submit" style="background-color:rgb(184, 74, 184); border-color: rgb(184, 74, 184); color: black; font-weight: bold;"class="btn btn-primary" target="_blank">Save</button></td>
              </tr>
              `
            }
          }


          else if(type == 'read'){
            console.log("Length of array: " + results.length);
            console.log(results[0].data);

            for (let i = 0; i < results.length; i++) {
              joke_entry +=`
              <tr>
                <td>Bread</td>
                <td>${results[i].data}</td>
                <td><button type="submit" style="background-color:rgb(184, 74, 184); border-color: rgb(184, 74, 184); color: black; font-weight: bold;"class="btn btn-primary" target="_blank">Save</button></td>
              </tr>
              `
            }
          }



          else{
            joke_entry +=`
              <tr>
                <td>Error Jokes</td>
                <td>How did you even get here? ... ... ... LAUGH!</td>
                <td><button type="submit" style="background-color:rgb(184, 74, 184); border-color: rgb(184, 74, 184); color: black; font-weight: bold;"class="btn btn-primary" target="_blank">Save</button></td>
              </tr>
              `
          }
        }
        
       
        %>
        <%- joke_entry %>
      </tbody>
    </table>
  </div>
</main>
</body>

<%- include ('../partials/footer') %>